<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Citación Prueba de Conocimientos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333333;
        }

        h1 {
            color: #166838;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f8f8;
            border: 1px solid #dddddd;
            border-radius: 4px;
        }

        p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="{{asset('http://yeshua.unicatolicadelsur.edu.co:4200/nephesh/public/uploads/imagenes/logo_institucional_UniCat%c3%b3lica-02.png')}}"
            alt="logo Institucional" style="display: block; margin: 0 auto; max-width: 100%;">
        <h1>Citación Prueba de Conocimientos</h1>
        <p>
        <p>Señor(a)</p>
        <p>{{ fullname }}</p>
        <p>Cordial saludo,</p>
        <p>Queremos expresar nuestro agradecimiento por el tiempo y esfuerzo que ha invertido en el proceso de selección, tras realizar una evaluación exhaustiva su perfil ha captado nuestra atención de manera significativa. Por ello, nos complace informarle que ha superado exitosamente la primer fase ¡FELICITACIONES!</p>
        <p>¡ATENCIÓN!</p>
        <p>El cronograma de la convocatoria ha experimentado modificaciones debido a múltiples compromisos institucionales, quedando planteado de la siguiente manera:</p>
        <p>1) Apertura de la Convocatoria: lunes, 11 de diciembre del 2023</p>
        <p>2) Límite Recepción de Hojas de Vida: viernes, 22 de diciembre del 2023</p>
        <p>3)  Límite de Modificaciones de Hojas de Vida:  martes, 16 de enero del 2024</p>
        <p>4) Selección Hojas de Vida: martes, 16 de enero del 2024</p>
        <p>5) Notificación de Resultados fase 1: martes, 16 de enero del 2024</p>
        <p>6) Fecha y Hora Aplicación Prueba de Conocimientos y Psicotécnica: miércoles, 17 de enero del 2024</p>
        <p>7) Notificación de Resultados fase 2:  viernes, 19 de enero del 2024</p>
        <p>8) Entrevistas con Comité de Selección: lunes, 22 de enero del 2024 (la hora se notificará de forma individual a cada candidato)</p>
        <p>9) Notificación de Resultados fase 3: jueves, 25 de enero del 2024.</p>
        <p>10) Entrevista con Consejo Superior: viernes, 26 de enero del 2024.</p>
        <p>11) Notificación Resultados Definitivos:	viernes, 26 de enero del 2024</p>
        <p>12) Inicio de contrato: jueves, 1 de febrero del 2024</p>
        <br>
        <p>Por lo anterior, nos permitimos citarlo(a) el día de MAÑANA MIERCOLES 17 DE ENERO DE 2024 en las instalaciones de la institución (Calle 18 No. 56-02 Torobajo) para la presentación de la prueba de conocimientos y evaluación psicotécnica a las 10:00 a.m. Favor presentarse con al menos 10 minutos de anticipación, con documento de identificación y lapicero.</p>
        <p>Deseándole una excelente noche. </p>
        <br>
        <p>Atentamente,</p>
        <br>
        <p>María Camila Vela Franco.<p>
        <p>Coordinadora de Talento Humano.<p>
        <p>Fundación Universitaria Católica del Sur.</p>
    </div>
</body>
</html>