<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resultado convocatoria</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333333;
        }

        h1 {
            color: #166838;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f8f8;
            border: 1px solid #dddddd;
            border-radius: 4px;
        }

        p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="{{asset('http://yeshua.unicatolicadelsur.edu.co:4200/nephesh/public/uploads/imagenes/logo_institucional_UniCat%c3%b3lica-02.png')}}"
            alt="logo Institucional" style="display: block; margin: 0 auto; max-width: 100%;">
        <h1>Resultado de convocatoria</h1>
        <p>
        <p>Señor(a)</p>
        <p>{{ fullname }}</p>
        <p>Cordial saludo,</p>
        <br>
        <p>Para la Fundación Universitaria Católica del Sur, ha sido un gusto poder contar con su participación en esta convocatoria N0.{{ callName }}. Hemos llevado a cabo una evaluación exhaustiva y apreciamos sinceramente el tiempo y esfuerzo que ha invertido en todo el proceso.</p>
        <br>
        <p>Después de una cuidadosa revisión y consideración, hemos tomado la decisión de explorar otras direcciones en nuestra búsqueda para la posición en cuestión. Queremos destacar que su participación en el proceso fue altamente valorada, y reconocemos sus habilidades y experiencia.</p>
        <br>
        <p>Esperamos contar con su participación en futuras oportunidades.</p>
        <br>
        <p>Apreciamos su comprensión y paciencia y le deseamos muchos éxitos en sus proyectos profesionales.</p>
        <br>
        <p>Atentamente,</p>
        <br>
        <p>María Camila Vela Franco.<p>
        <p>Coordinadora de Talento Humano.<p>
        <p>Fundación Universitaria Católica del Sur.</p>
        <br>
    </div>
</body>
</html>