<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Citación Entrevista</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333333;
        }

        h1 {
            color: #166838;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f8f8;
            border: 1px solid #dddddd;
            border-radius: 4px;
        }

        p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="{{asset('http://yeshua.unicatolicadelsur.edu.co:4200/nephesh/public/uploads/imagenes/logo_institucional_UniCat%c3%b3lica-02.png')}}"
            alt="logo Institucional" style="display: block; margin: 0 auto; max-width: 100%;">
        <p>Estimado(a)</p>
        <p>{{ fullname }}</p>
        <p>Cordial saludo,</p>
        <p>Esperamos que este mensaje le encuentre bien. Hemos recibido una solicitud para restablecer la contraseña de su cuenta en la plataforma de talento humano de la Fundación Universitaria Católica del Sur. Para garantizar la seguridad de su cuenta, le proporcionamos las siguientes instrucciones para llevar a cabo este proceso.</p>
        <br>
        <p>Por favor, siga los siguientes pasos para restablecer su contraseña:</p>
        <br>
        <p><strong>1.</strong> Haga clic en el siguiente enlace: [Enlace de Restablecimiento de Contraseña]</p>
        <p><strong>2.</strong> Será redirigido a una página segura donde podrá crear una nueva contraseña.</p>
        <p><strong>3.</strong> Ingrese su nueva contraseña y confírmela.</p>
        <p><strong>4.</strong> Haga clic en "Guardar" o "Restablecer Contraseña".</p>
        <br>
        <p>Asegúrese de elegir una contraseña segura que contenga una combinación de letras, números y caracteres especiales. Le recomendamos que no comparta esta información con nadie y que la actualice periódicamente para mantener la seguridad de su cuenta.</p>
        <p>Si no ha solicitado este restablecimiento de contraseña o tiene alguna pregunta, por favor póngase en contacto con nuestro equipo de soporte a través de [Información de Contacto].</p>
        <br>
        <p>Gracias por su cooperación.</p>
        <br>
        <p>Atentamente,</p>
        <p>Universidad Católica del Sur.</p>
        <br>
    </div>
</body>
</html>