<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>¡Felicitaciones!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333333;
        }

        h1 {
            color: #166838;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f8f8;
            border: 1px solid #dddddd;
            border-radius: 4px;
        }

        p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="{{asset('http://yeshua.unicatolicadelsur.edu.co:4200/nephesh/public/uploads/imagenes/logo_institucional_UniCat%c3%b3lica-02.png')}}"
            alt="logo Institucional" style="display: block; margin: 0 auto; max-width: 100%;">
        <h1>¡Felicitaciones!</h1>
        <p>
        <p>Maria Carolina Guerrero Santacruz</p>
        <p>Cordial saludo,</p>
        <p>Mediante la presente nos complace informarle que usted ha sido seleccionada en la convocatoria N0. 032 de la Fundación Universitaria Católica del Sur.</p>
        <br>
        <p>En virtud de lo anterior la citamos para que acuda el día Lunes 17 de Junio de 2023 a las 8:30 AM para continuar con su proceso de contratación.</p>
        <br>
        <p><strong>TENGA EN CUENTA</strong></p>
        <p>
            <p>1. Debe presentarse con cedula de ciudadanía. </p>
        </p>
        <p>¡Nos da gusto que a partir de este momento usted forme parte de nosotros!</p>

        <p>Atentamente,</p>
        <p>Universidad Católica del Sur.</p>
        <br>
    </div>
</body>
</html>